/* ------------------------------------------------------------------ */
/* a. Navbar Stlyles
/* ------------------------------------------------------------------ */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

ul#nav li a:hover {
   color:rgba(255, 255, 255, 0.5);
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: gray; }



/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   width: 100%;
   height: 100vh;
   /* background-image: linear-gradient(rgba(97, 97, 97, 0.5),rgb(0, 0, 0)), url(../images/header-background.jpg); */
   background-image: url(../images/header-background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   overflow: hidden;
 }
 
 header .banner-text { 
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
 }
 header .banner-text h1 {  
   color: white;
   font-size: 90px;
   letter-spacing: -2px;
   margin: 0 auto 0 auto;
 }
 header .banner-text h3 {
   color: white;
   font-size: 20px;
   margin: 0 auto;
 }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a { color: rgba(255, 255, 255, 0.5); }
header .scrolldown a:hover { color: white; }

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
.about-container {
   min-height: 100vh;
   width: 100%;
   display:flex;
   align-items: center;
   justify-content: center;  
 }
 
 .profile-picture {
   position: center;
   width: 25vw;
   height: 25vw;
   border-radius: 50%;
   float: left;
 }
 .about-text-area {
   background-color: white;
   width: 50%;
   margin-left: 24px;
 }
 
 .about-text-area p {
   font-size: 16px;
   color: gray;
 }


/* ------------------------------------------------------------------ */
/* d. Abilities Section
/* ------------------------------------------------------------------ */
.abilities-header {
   text-align: center;
   font-size: 6vw;
}

.abilities-container {
   margin-bottom: 2vh;
   display: flex;
   align-items: center;
   justify-content: center;  
 }
 .ability-picture {
   position: center;
   width: 16vw;
   height: 16vw;
   border-radius: 50%;
 }

 .abilities-text-area {
   background-color: white;
   width: 50%;
   margin-left: 24px;
 }
 
 .abilities-text-area p {
    font-size: 16px;
    color: gray;
 }

/* ------------------------------------------------------------------ */
/* e. Hokage Section
/* ------------------------------------------------------------------ */
.hokages-header {
   text-align: center;
   font-size: 6vw;
}

.hokage-container {
   margin: 0;
   min-height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#hokage .container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10vmin;
   overflow: hidden;
   transform: skew(5deg);
}
#hokage .container .card {
   flex: 1;
   transition: all 1s ease-in-out;
   height: 75vmin;
   position: relative;
}
#hokage .container .card .card__head {
   color: white;
   background: rgba(0, 0, 0, 0.75);
   padding: 0.5em;
   transform: rotate(-90deg);
   transform-origin: 0% 0%;
   transition: all 0.5s ease-in-out;
   min-width: 100%;
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 0;
   font-size: 1em;
   white-space: nowrap;
}
#hokage .container .card:hover {
   flex-grow: 10;
}
#hokage .container .card:hover img {
   filter: grayscale(0);
}
#hokage .container .card:hover .card__head {
   text-align: center;
   top: calc(100% - 2em);
   color: white;
   background: rgba(255, 0, 0, 0.5);
   font-size: 2em;
   transform: rotate(0deg) skew(-5deg);
}
#hokage .container .card img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 1s ease-in-out;
   filter: grayscale(100%);
}
#hokage .container .card:not(:nth-child(6)) {
   margin-right: 1em;
}
